# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

// add pycache
__pycache__/


# only add the elvis files in src/data/processed and src/data/raw
# Ignore everything in processed and raw
src/data/processed/*
src/data/raw/*

# But do NOT ignore elvis files in those folders
!src/data/processed/elvis_presley.json
!src/data/raw/elvis_presley.json