# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# add the files in src/data/processed and src/data/raw to the gitignore
# but not the directories themselves
src/data/processed/*
!src/data/processed/.gitkeep
src/data/raw/*
!src/data/raw/.gitkeep